#panel .alert-panel {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  float: right;
  background: white;
  padding: 0.5em 1em;
  border-radius: 0.1em;
  left: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  animation: open .5s cubic-bezier(0.47, 0, 0.745, 0.715);
  transform: translate(-50%, 1.5em);

  .title {
    font-weight: bold;
  }
  .details {
    font-size: 0.7em;
  }

  .icon-area {
    margin-right: 1em;
  }

  @keyframes open {
    0% {
      transform: translate(-50%, -1em);
      opacity: 0;
    }

    100% {
      transform: translate(-50%, 1.5em);
      opacity: 1;
    }
  }
  &.animation-end {
    animation: close .5s linear;
    @keyframes close {
      0% {
        transform: translate(-50%, 1.5em);
        opacity: 1;
      }

      100% {
        transform: translate(-50%, -1em);
        opacity: 0;
      }
    }
  }
}

#panel.modal-panel {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
}
